**/.vs
**/.vs
/gradebook/.vs/GradeBook/DesignTimeBuild/.dtbcache.v2
/gradebook/src/GradeBook/obj/Debug/net5.0/GradeBook.csproj.CoreCompileInputs.cache
/gradebook/src/GradeBook/obj/Debug/net5.0/GradeBook.csprojAssemblyReference.cache
/gradebook/src/GradeBook/obj/Debug/net5.0/GradeBook.dll
/gradebook/src/GradeBook/obj/Debug/net5.0/GradeBook.pdb
/gradebook/src/GradeBook/obj/Debug/net5.0/ref/GradeBook.dll
/gradebook/src/GradeBook/obj/Release/net5.0/GradeBook.csprojAssemblyReference.cache
/gradebook/src/GradeBook/bin/Debug/net5.0/GradeBook.dll
/gradebook/src/GradeBook/bin/Debug/net5.0/GradeBook.pdb
/gradebook/src/GradeBook/bin/Debug/net5.0/ref/GradeBook.dll
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.csproj.CoreCompileInputs.cache
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.csprojAssemblyReference.cache
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.pdb
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/ref/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.dll
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.pdb
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.Tests.pdb
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/ref/GradeBook.Tests.dll
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.AssemblyInfo.cs
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.AssemblyInfoInputs.cache
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.assets.cache
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.csproj.CoreCompileInputs.cache
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.csproj.FileListAbsolute.txt
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.csprojAssemblyReference.cache
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.dll
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.genruntimeconfig.cache
/gradebook/src/GradeBook/obj/Debug/netcoreapp2.1/GradeBook.pdb
/gradebook/src/GradeBook/obj/Release/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/gradebook/src/GradeBook/obj/Release/netcoreapp2.1/GradeBook.AssemblyInfo.cs
/gradebook/src/GradeBook/obj/Release/netcoreapp2.1/GradeBook.AssemblyInfoInputs.cache
/gradebook/src/GradeBook/obj/Release/netcoreapp2.1/GradeBook.assets.cache
/gradebook/ConceptSandBox/obj/Debug/net5.0/ConceptSandBox.csproj.FileListAbsolute.txt
/gradebook/ConceptSandBox/obj/Debug/net5.0/ConceptSandBox.csprojAssemblyReference.cache
/gradebook/src/GradeBook/bin/Debug/netcoreapp2.1/GradeBook.deps.json
/gradebook/src/GradeBook/bin/Debug/netcoreapp2.1/GradeBook.dll
/gradebook/src/GradeBook/bin/Debug/netcoreapp2.1/GradeBook.pdb
/gradebook/src/GradeBook/bin/Debug/netcoreapp2.1/GradeBook.runtimeconfig.dev.json
/gradebook/src/GradeBook/bin/Debug/netcoreapp2.1/GradeBook.runtimeconfig.json
/gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
/gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.g.props
/gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.g.targets
/gradebook/src/GradeBook/obj/project.assets.json
/gradebook/src/GradeBook/obj/project.nuget.cache
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.dll
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.pdb
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/GradeBook.Tests.pdb
/gradebook/test/GradeBook.Tests/bin/Debug/net5.0/ref/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.csproj.CoreCompileInputs.cache
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.csprojAssemblyReference.cache
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/GradeBook.Tests.pdb
/gradebook/test/GradeBook.Tests/obj/Debug/net5.0/ref/GradeBook.Tests.dll
/gradebook/test/GradeBook.Tests/obj/GradeBook.Tests.csproj.nuget.dgspec.json
/gradebook/test/GradeBook.Tests/obj/project.assets.json
/gradebook/test/GradeBook.Tests/obj/project.nuget.cache
/gradebook/ConceptSandBox/bin/Debug/net5.0/ConceptSandBox.dll
/gradebook/ConceptSandBox/bin/Debug/net5.0/ConceptSandBox.pdb
/gradebook/ConceptSandBox/bin/Debug/net5.0/ref/ConceptSandBox.dll
/gradebook/ConceptSandBox/obj/Debug/net5.0/ConceptSandBox.csproj.CoreCompileInputs.cache
/gradebook/ConceptSandBox/obj/Debug/net5.0/ConceptSandBox.dll
/gradebook/ConceptSandBox/obj/Debug/net5.0/ConceptSandBox.pdb
/gradebook/ConceptSandBox/obj/Debug/net5.0/ref/ConceptSandBox.dll
